<!DOCTYPE html>
<html>
<head>
	<title>Mentorship Program</title>
	<link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
	<div class="links">
		<a href="/" class="active" >Docentes</a>
		<a href="/students">Estudantes</a>
	</div>

</header>


    {% block content %}

    {% endblock %}

</body>

</html>